[Unit]
Description=Timesheet

[Service]
Type=simple
User=lens
Group=lens
Restart=on-failure
Environment=MIX_ENV=prod "PORT=5001"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/timesheet/timesheet
ExecStart=/bin/bash /home/timesheet/timesheet/start.sh

[Install]
WantedBy=multi-user.target