
<% {sheet_id, sheet_status} = @sheet_detail%>
<% [approved] = sheet_status %>
<%= if approved do %>
  <tr>Sheet  Status: Approved</tr>
<% else %>
  <tr>Sheet Status: Not Approved</tr>
<% end %>
<% tasks = Timesheet.Tasks.get_task_by_sheet_id(sheet_id) %>
 


<%= for {jobcode, hour, note} <- tasks do %>
<tbody>
  <tr>
    <td><%= jobcode %></td>
    <td><%= hour %></td>
    <td><%= note %></td>
  </tr>
</tbody>
<% end %>

