<h1>Show Job</h1>

<ul>

  <li>
    <strong>Jobcode:</strong>
    <%= @job.jobcode %>
  </li>

  <li>
    <strong>Budget:</strong>
    <%= @job.budget %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.job_path(@conn, :edit, @job) %></span>
<span><%= link "Back", to: Routes.job_path(@conn, :index) %></span>
