
<% {tasks, approve} = @combo %>
<% task_list = tasks %>
<% [status] = approve%>

<%= if status  do %>
 <span>Status: <%= "Approved" %> </span>
<% else %>
 <span>Status: <%= "Not Approved" %> </span>
 <% end %>
 <span>Date: <%=@date%></span>

<%= for task <- task_list do %>
  <% {task_jobcode, task_hour, task_note} = task %>
  <tbody>
  <tr>
    <td><%= task_jobcode %></td>
    <td><%= task_hour %></td>
    <td><%= task_note %></td>
  </tr>
</tbody>
 
<% end %>



